# Rust
rust/target/*

# Haskell
haskell/**/.stack-work/*
haskell/**/.hie/*
*.dump-hi
.hlint.yaml

# The Aura Guide
book/book/*
misc/dir
misc/*.info

# Nix
.envrc
/result*

# Lisp
lisp/.qlot/*

# Misc.
*.prof
*.svg
*.txt
AUR-SECURITY.*
TAGS
flames
aur-pkgs/*
