name: Tests
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  build:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - name: Setup GHC
        uses: actions/setup-haskell@v1.1.4
        with:
          ghc-version: "8.10.7"
          enable-stack: true

      - name: Clone project
        uses: actions/checkout@v2.3.4

      - name: Cache dependencies
        uses: actions/cache@v2.1.6
        with:
          path: ~/.stack
          key: ${{ runner.os }}-stack-${{ hashFiles('stack.yaml') }}
          restore-keys: |
            ${{ runner.os }}-stack-

      - name: Build and run tests
        run: "stack test --fast --no-terminal --system-ghc"
