name: Haskell
on:
  pull_request:
    paths:
      - "haskell/stack.yaml"
      - "haskell/**/*.cabal"
      - "haskell/**/*.hs"
  push:
    branches: [master]
    paths:
      - "haskell/stack.yaml"
      - "haskell/**/*.cabal"
      - "haskell/**/*.hs"
      - ".github/workflows/haskell.yaml"

jobs:
  build:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Setup GHC
        uses: haskell-actions/setup@v2
        with:
          ghc-version: "9.4.8"
          enable-stack: true
          stack-version: "latest"

      - name: Clone project
        uses: actions/checkout@v5

      - name: Cache dependencies
        uses: actions/cache@v5
        with:
          path: ~/.stack
          key: ${{ runner.os }}-stack-${{ hashFiles('haskell/stack.yaml') }}
          restore-keys: |
            ${{ runner.os }}-stack-

      - name: Build and run tests
        run: |
          cd haskell/
          stack test --fast --no-terminal --system-ghc
